root {
    --primary-color: #6258FE;
    --primary-color-dark: #7771F6;
    --button-color: #5433FF;
    --button-color-shadow: rgba(84, 51, 255, 0.3);
    --text-color: white;}

p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

background {
    content: "";
    position: absolute;
    height: 166vh;
    width: 100vw;
    display: grid;
    place-items: center;
    opacity: 0.5;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: auto;
}

nav {
    position: sticky;
    background-color: var(--primary-color);
    width: 18rem;
    padding: 1.8rem 0.85rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    transition: width 0.55s ease-in-out;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bar-top {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  
  .bar-top .logo {
    position: relative;
    width: 5px;
    margin-right: 1.45rem;
    left: -1px;
  }
bar-top h2 {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
  }
  
  .expand-btn {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    background-color: var(--button-color);
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 3px 10px -3px var(--button-color-shadow);
    right: -3rem;
    transform: translateY(-50%) translateX(-8px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }
  
  nav:hover .expand-btn,
  .expand-btn.hovered {
    transform: translateY(-50%) translateX(3px);
    opacity: 1;
    pointer-events: all;
  }
  .bar-links ul {
    list-style-type: none;
    position: relative;
  }
  
  .bar-links li {
    position: relative;
  }
  
  .sidebar-links li a {
    padding: 12px;
    color: var(--text-color);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    height: 56px;
    text-decoration: none;
    color: #fff;
  }
  
  .icon {
    display: flex;
    align-items: center;
  }
  
  .icon img {
    width: 26px;
    height: 26px;
    margin: auto;
  }
  
  .sidebar-links .link {
    margin-left: 46px;
  }